body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(249, 249, 249);

    /* background-image: url("./images/pinkdinoprints.png"); /* Replace with the actual path to your image */
    /* background-repeat: repeat; /* Prevent image repetition */
    /*background-size: cover; /* Scale the image to cover the entire viewport */
    /* You can also adjust other properties like background-position if needed */ 
}
.container {
    width: 80%;
    margin: 0 auto;
}

header {
    text-align: center;
}

header img {
    max-width: 100;
}

.performers {
    margin-top: 10px;
    
}

.performer {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}

.performer img {
    width: 150px;
    height: 150px;
    border-radius: 60%;
}

.scrolling-wrapper {
    overflow-x: auto;
    white-space: nowrap;
}
body {
    background-color: rgb(99, 16, 111);
}
ul {
    text-align: left;
}

h1 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 0px;
}

h4 {
    margin-top: 5px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: lighter;
    font-style: normal;
    margin-bottom: 0px;
}

.logo {
    width: 100px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure proper spacing around the image */
    margin: 0 auto; /* Center the image horizontally */
}