
body {
    background-image: url('dinoprints.png'); 
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif; 
}

h1 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.event li:first-child{
    text-align: center;
    margin-bottom: 10px;

}

.event ul {
    text-align: center;
}


.event li strong {
    color: rgb(11, 10, 10); 
}


button {
    color: #0b0b0c; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer;
    border-radius: 20px; 
    margin-left: 10px; 
    display: blokc;
}

button:hover {
    background: linear-gradient(to right, #9d65dd, #7707e0); 
    color: #e5dfec; 
}

  
  